/*-------------- Общие стили -------------*/
* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    background-color: #F0EBFA;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

/* ----------------header----------------- */

.header-home {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    text-decoration: none;
    font-weight: 900;
    padding: 15px;
}

.navigation {
    display: flex;
    gap: 50px;
    padding: 15px;
}

.navigation-element {
    /* padding: 0 20px; */
}

.navigation-element:hover {
    cursor: pointer;
    color: #794CFF;
}

.login {
    display: flex;
}

.login-a {  
    display: block;
    color: #794CFF;
    background-color: #ECE5FF;
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: 500;
}

.login-a:hover {
    box-shadow: 0 0 8px;
}

.login-ap {
    background-color: white;
    padding: 15px;
}

.login-ap:hover {
    cursor: pointer;
    color: #794CFF;
}

/* ----------home------------- */

.img-bg {
    display: flex;
    justify-content: center;
}

.img-bg img{
    object-fit: cover;
    max-width: 920px;
}
/* ------------------------ */
.discount {
    display: flex;
    align-items: center;
    background-color: #F2F9EB;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 16px;
}

.text-p {
    background-color: #81C43B;
    color: white;
    border-radius: 100px;
}

.discount-p {
    color: #2B2F38;
    font-weight: 500;
}
/* --------------------------- */
.team-everyone {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.team-h1 {
    font-size: 64px;
    font-weight: 600;
    color: #35414B;
}

.team-p {
    font-size: 16px;
    line-height: 24px;
    color: #4E5A65;
}

.team-input {
    padding: 8px 16px;
    border: 1px solid #E1E5EA;
}

.team-a {
    display: block;
    background-color: #794CFF;
    color: white;
    padding: 8px 16px;
}
