/*-------------- Общие стили -------------*/
* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #2D3A4A;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

/* ----------------header----------------- */

.header-home {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    text-decoration: none;
    font-weight: 900;
    padding: 15px;
}

.navigation {
    display: flex;
    gap: 50px;
    padding: 15px;
}

.navigation-element {
    
}

.navigation-element:hover {
    cursor: pointer;
    color: #794CFF;
}

.login {
    display: flex;
}

.login-a {  
    display: block;
    color: #794CFF;
    padding: 16px 24px;
    background-color: #ECE5FF;
    border-radius: 8px;
    font-weight: 500;
}

.login-a:hover {
    box-shadow: 0 0 8px;
}

.login-ap {
    padding: 15px;
}

.login-ap:hover {
    cursor: pointer;
    color: #794CFF;
}

/* ----------discount-info------------- */
.discount-info {
    display: grid;
    justify-items: center;
    margin-top: 25px;
}

.discount {
    display: flex;
    align-items: center;
    background-color: #F2F9EB;
    border-radius: 100px;
    padding: 5px 10px;
    width: fit-content;
    gap: 10px;
}

.text-p {
    background-color: #81C43B;
    color: white;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
}

.discount-p {
    color: #2D3A4A;
    font-size: 16px;
    font-weight: 500;
}


.team-everyone {
    display: grid;
    justify-items: center;
}

.team-h1 {
    width: 760px;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    color: #35414B;
    padding: 8px 16px;
}

.team-p {
    width: 505px;
    font-weight: 400;
    color: #35414B;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}   

.team-input {
    padding: 14px 58px 14px 18px;
    font-size: 16px;
    border: 1px solid #E1E5EA;
    color: #E1E5EA;
}

.team-a {
    background-color: #794CFF;
    color: white;
    font-size: 16px;
    padding: 14px 40px;
}

.input-info {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.img-bg {
    display: grid;
    justify-items: center;
}

.img-bg img{
    object-fit: cover;
    max-width: 920px;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.2);
    margin: 35px;
}

/* --------------sponsor------------ */
.sponsor {
    margin-top: 35px;
}

.sponsor-p {
    color: #4E5A65;
    font-size: 16px;
    text-align: center;
}

.sponsor-info-p {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 25px;
    margin-bottom: 35px;
}

/* ------------section-info----------- */

.section-info {
    display: flex;
    padding: 50px;
    gap: 80px;
    background-color: #FBFAFE;
    justify-content: space-evenly;
    align-items: center;
}


.informa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cart {
    padding: 15px;
}

.info-p {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    color: #35414B;
}

.info-p-text {
    width: 300px;
    color: #4E5A65;
}

.section-info img {
    object-fit: cover;
    width: 657px;
}

.info-cart:nth-of-type(1) {
    background-color: #F6F3FC;
    border-left: 8px solid #794CFF;
}

/* -------------statistics-------------- */

.section-card {
    margin: 100px 0;
}

.h {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 0;
}

.section-card-h2 {
    margin: 70px 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.cart {
    margin: 40px;
    padding: 15px;
}

.cart-text1 {
    font-weight: 600;
}

.cart-text2 {
    width: 306px;
    color: #4E5A65;
}


/*-------statistics-------- */

.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #FBFAFE;
    justify-items: center;
    padding: 20px 0;
}

.statistics-h2 {
    font-size: 40px;
    font-weight: 600;
    width: 350px;
    margin: 10px 0;
}

.statistics-p {
    font-weight: 400;
    color: #4E5A65;
    width: 413px;
    padding: 20px 0;
}

.statistics-a {
    display: inline-block;
    background-color: #796EFF;
    padding: 18px 21px;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}

/* ------------working-user-------Обязятельно переделать!!!!--- */ 

.working-user {
    /* display: flex;
    justify-content: center; */
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text-h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 55px;
    padding: 20px;
    text-align: center;
}

.info-text-p {
    font-size: 18px;
    width: 543px;
    text-align: center;
    padding: 10px;
}

.user-img {
    border-radius: 50%;
    width: 48px;
}

.user-name {
    font-weight: 600;
    padding: 10px 0;
}

.use {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    justify-items: center;
    align-items: start;
    padding: 40px;
    margin: 20px 0;
}

.user {
    display: flex;
    padding: 15px 0;
    gap: 15px;
}

.text-user {
    display: flex;
    flex-direction: column;
}


.user:nth-of-type(1) {
    border-top: 4px solid #35414B;
    border-radius: 3px;
}


.download {
    display: flex;
    background-color: #796EFF;
    padding: 64px 80px;
    width: 1100px;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
}

.download-p {
    width: 423px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.download-user {
    display: flex;
    justify-content: center;
}


/* ----------------company-info------------- */
.company-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #1D2830;
    padding: 80px 182px;
    margin-top: 50px;
}

.company {
    color: white;
}

.company-text {
    padding: 10px 0;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 16px;
}

.company-img {
    margin-left: 75px;
    
}

.company-img img{
    padding: 10px 0;
}

